.btn {
  display: inline-block;
  color: var(--accent-color);
  text-decoration: none;
  padding: 10px;
  border: 1px solid var(--accent-color);
  border-radius: 3px;
  transition: all 0.3s ease;
  background-color: transparent;
  cursor: pointer;
  text-transform: uppercase;
  font-weight: 400;
  font-family: 'Hammersmith One', sans-serif;
}

.btn:hover {
  opacity: 0.6;
}

.btn:active {
  opacity: 0.4;
}