.page-header {
  background-color: var(--fallback-bg-color);
  background-image: url('../../img/header/bg.jpg');
  background-repeat: no-repeat;
  background-position: 0 0;
  background-size: cover;
}