.page-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;

  padding-top: 16px;
  padding-bottom: 16px;
}

.page-nav__list {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-wrap: wrap;
}

.page-nav__item {
  margin-left: 25px;
}

.page-nav__item a {
  font-size: 13px;
  line-height: 16px;
  text-transform: uppercase;
  color: #FFFFFF;
  text-decoration: none;
  font-weight: 900;
  transition: all 0.3s ease;
}

.page-nav__logo {
  transition: all 0.3s ease;
}

.page-nav__item a:hover,
.page-nav__logo:hover {
  opacity: 0.6;
}

.page-nav__item a:active,
.page-nav__logo:active {
  opacity: 0.4;
}

@media (max-width: 425px) {
  .page-nav {
    justify-content: center;
  }

  .page-nav__logo {
    margin-bottom: 20px;
  }

  .page-nav__list {
    justify-content: center;
  }

  .page-nav__item {
    margin-bottom: 10px;
  }
}